# Flask-related files and directories
__pycache__/
instance/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# IDE-specific files (PyCharm)
.idea/
*.iml
*.iws
*.ipr
.idea_modules/
out/
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries/

# Compiled Python files
*.pyc
__pycache__/
*.pyo

# Logs and databases
*.log
*.sqlite

# Environment variables file (if you're using a .env file)
.env

# Miscellaneous
*.swp
.DS_Store
