{% extends 'layout.html' %}
{% block content %}
    <section>
     <div id="raiseHeaderAbout"  class="text-center fadeInDropDown">
         <h3 class="about-me-font-size-header header-font" >Fullstack Application Software Developer from Toronto, Canada</h3>
     </div>
        <div class="about-me-card slide-in-left">
            <figure class="image-mask">
                 <img class="img-fluid" src="/static/sean.png" alt="Your JS engine was not able to load this Image">
            </figure>
            <div class="about-me-content">
                <p class="about-me-font-size-content slide-in-right">I spend my time around the application layer in Web, Mobile and Desktop environments.
                    I have been programming since 2015 and professionally since 2018.</p>
                <p class="about-me-font-size-content slide-in-right-15">I've worked with frontends, databases, networks, clouds, backends, API's, Android, iOS Apple Developer program,Reporting, Automated and Manual testing and entire Systems from the ground up.
                    I build and service my own Computer and I manage my own Cloud infrastructure on Azure. </p>
                <p class="about-me-font-size-content slide-in-right-18">The main programming tools I use are <span class="text-color-accent">C#</span>, <span class="text-color-accent">Python</span> and <span class="text-color-accent">Javascript</span>. I like solving problems
                     and I like engineering digital solutions - I've worked with Insurance, Logistics, Pharmaceutical, Warehouse, Restaurant,
                    FHIR/HL7 and Healthcare use-cases and I'd love to work on more diverse problems as I progress throughout my career.</p>
                <p class="about-me-font-size-content slide-in-right-2"> If you'd like to work together please contact me using the footer below - I am incorporated and open to offers through contract but prefer <span class="text-color-warn">full-time</span> roles
                </p>
            </div>
        </div>
    </section>
{% endblock %}
