{% extends 'layout.html' %}

{% block page_title %}Blog{% endblock %}

{% block content %}
    <section>
         <h3 class="work-experience-header text-center app-text-font fadeInDropDown">Brief Notes on Software</h3>
        <div id="blog-container" class="text-center app-text-font-1 fadeInDropDown">
            <table >
                <thead>
                    <tr>
                        <th>
                            Blogs
                        </th>
                    </tr>
                </thead>
                    <tbody>
                        <tr>
                            <td>
                                Coming Soon
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </section>
{% endblock %}
