{% extends 'layout.html' %}

{% block page_title %}Education{% endblock %}

{% block content %}
    <section>
        <h3 class="education-header text-center">Education</h3>
        <div class="education-content text-left">
            <div>
                <div>
                    <p class="app-text-font-1"><u>September 2016 - June 2019</u></p>
                </div>
                <div>
                    <p class="app-text-font-1 text-color-accent"> George Brown College - Computer Programmer Analyst</p>
                    <ul class="two-column-list app-text-font-1">
                        <li >Fundamentals of Object Oriented Programming</li>
                        <li>Java</li>
                        <li>C#</li>
                        <li>Python</li>
                        <li>MySQL, MSSql Server</li>
                        <li>Algorithms and Design Patterns</li>
                        <li>Html, CSS and Javascript</li>
                        <li>System Design Methodology and UML</li>
                        <li>Linux Security +</li>
                        <li>CCNA 1 & 2</li>
                        <li>A+ Certification Windows</li>
                        <li>Capstone</li>
                    </ul>
                </div>
                 <div>
                     <p class="app-text-font-1"><u>September 2009 - June 2013</u></p>
                </div>
                <div>
                    <p class="app-text-font-1 text-color-accent">University of Toronto - Kinesiology</p>
                        <ul class="two-column-list app-text-font-1">
                            <li>Biology</li>
                            <li>Chemistry</li>
                            <li>Physics</li>
                            <li>Anatomy</li>
                            <li>Physiology</li>
                            <li>Biomechanics</li>
                            <li>Sport History</li>
                            <li>PAC Sports</li>
                            <li>Motor Control and Learning Theory</li>
                            <li>Calculus</li>
                            <li>Exercise Physiology</li>
                        </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
