{% extends 'layout.html' %}
{% block content %}
    <section>
        <h3 class="education-header text-center app-text-font fadeInDropDown">Guaranteed the Fundamentals</h3>
        <div class="education-content text-left">
                <div>
                    <p class="app-text-font-1 slide-in-left"><u>September 2015 - June 2018</u></p>
                </div>
                <div class="fadeIn">
                    <p class="app-text-font-1"> <span class="text-color-accent">George Brown College</span> - Computer Programmer Analyst</p>
                    <ul class="two-column-list app-text-font-1 font-2-em">
                        <li >Fundamentals of Object Oriented Programming</li>
                        <li>Java</li>
                        <li>C#</li>
                        <li>Python</li>
                        <li>MySQL, MSSql Server</li>
                        <li>Algorithms and Design Patterns</li>
                        <li>Html, CSS and Javascript</li>
                        <li>System Design Methodology and UML</li>
                        <li>Linux Security +</li>
                        <li>CCNA 1 & 2</li>
                        <li>A+ Certification Windows</li>
                        <li>Capstone</li>
                    </ul>
                </div>
                 <div>
                     <p class="app-text-font-1 slide-in-left"><u>September 2009 - June 2013</u></p>
                </div>
                <div class="fadeIn-2">
                    <p class="app-text-font-1 font-2-em"><span class="text-color-accent">University of Toronto</span> - Kinesiology</p>
                        <ul class="two-column-list app-text-font-1 font-2-em">
                            <li>Biology</li>
                            <li>Chemistry</li>
                            <li>Physics</li>
                            <li>Anatomy</li>
                            <li>Physiology</li>
                            <li>Biomechanics</li>
                            <li>Sport History</li>
                            <li>PAC Sports</li>
                            <li>Motor Control and Learning Theory</li>
                            <li>Calculus</li>
                            <li>Exercise Physiology</li>
                        </ul>
                </div>
            </div>
    </section>
{% endblock %}
