<header class="nav text-center">
    <nav class="navbar navbar-expand-lg">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Introduction</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/aboutme">About Me</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href=/workexperience#">Work Experience</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="/projects">Projects</a>
          </li>
             <li class="nav-item">
            <a class="nav-link" href="/education">Education</a>
          </li>
        </ul>
      </div>
    </nav>
</header>
