<header class="nav text-center">
    <nav class="navbar navbar-expand-sm justify-content-center">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto"> <!-- Use mx-auto to center the nav items -->
                <li class="nav-item active">
                    <a class="nav-link" href="/">Introduction</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/aboutme">About Me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/workexperience#">Work Experience</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/projects">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/education">Education</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog">Blog</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
