{% extends 'layout.html' %}

{% block page_title %}Projects{% endblock %}

{% block content %}
    <section>
       <h3 class="work-experience-header text-center app-text-font fadeInDropDown">Projects Near and Dear to my Heart</h3>
        <div class="work-experience-content text-left">
            <div>
                <div class="app-text-font-1 fadeIn">
                    <p class="off-text-color fadeIn text-center">Biztraak</p>
                    <p class="fadeIn-2 font-2-em">In association with DevEmpires Inc, a Work in Progress, Biztraak is a platform as a service like no other. In one environment write and deploy your code to any infrastrcture at the click of a button.
                    Through Biztraaks streamlined templating system, not only do you get to write and version your code on our system, but you can instantly deploy any infrastructure anywhere in the world. Want to Multi-Cloud your staging and Test Environments?
                    Always wanted to collect feedback from AB Testing but didn't want to invest all of the time into configuring your network? Templates offer the instant solution to all of your use-cases. We even cover compliance related issues. If ever you find our templates don't meet your specific needs
                    we will design you a template for free use. Biztraak is the future of the developer experience.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
