{% extends 'layout.html' %}
{% block content %}
    <section>
        <h3 class="work-experience-header text-center app-text-font fadeInDropDown">I've Worked in some Really Great Environments</h3>
        <div class="work-experience-content text-left">
            <div class="workexperience">
                <div>
                    <p class="app-text-font-1 fadeIn"><u>February 2023 - Current</u></p>
                </div>
                <div class="app-text-font-1 fadeIn">
                    <p class="off-text-color fadeIn">Dougan Software Development</p>
                    <p class="fadeIn-2 font-2-em">I have always been freelancing small contracts it's how I started working in the industry, I turned this hobby into my own business. I primarily work my 9-5 but when I get time to myself during the year I'm
                    excited to say I work for myself and have my own business when I pick up a new short-term contract. These are by far the most adventurous  projects I undertake, and I love it because variety is the spice of life.
                        I take projects around my own schedule but it never hurts to contact me if you'd like to book an appointment</p>
                    <p class="text-color-warn fadeIn-2 font-2-em">C# JS Multi-Cloud Python Multi-DB Figma Gimp</p>
                </div>

                 <div>
                     <p class="app-text-font-1 fadeIn"><u>February 2020 - Current</u></p>
                </div>
                <div class="app-text-font-1">
                    <p class="off-text-color fadeIn">Leven Systems</p>
                    <p class="fadeIn-2 font-2-em">The #1 Canadian Pharmaceutical Technology Innovators, Helped contribute to a suite of tools aimed at insurers, patients, prescribers, pharmacies and healthcare providers
                    to bring ubiquity, agility and efficiency to the Canadian Health Insurance and Drug Supply Chain Canada wide. Leven provides a fleet of applications that covers all of these use-cases with all of the compliance needed to do your
                    pharmaceutical business in Canada</p>
                    <p class="text-color-warn fadeIn-2 font-2-em">C# JS Azure React-Native MSTest MSSql SSRS Redis JQuery</p>
                </div>

                 <div>
                     <p class="app-text-font-1 fadeIn"><u>June 2018 – March 2019</u></p>
                </div>
                <div class="app-text-font-1">
                    <p class="off-text-color fadeIn">Kibii</p>
                    <p class="fadeIn-2 font-2-em">I started working for Kibii just getting out of school. Co-Op and internship were not offered as part of my college and I was succesful in applying to a Ryerson Incubator to work on Kibii. Kibii is a Mobile centric
                    application focused on letting groups of people discover, organize and share events across the network. Plan your own night out or take recomendations from people you follow or friends</p>
                    <p class="text-color-warn fadeIn-2 font-2-em">Java Android Jasper GCP iOS</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
