{% extends 'layout.html' %}

{% block page_title %}Work Experience{% endblock %}

{% block content %}
    <section>
        <h3 class="work-experience-header text-center">Work Experience</h3>
        <div class="work-experience-content text-left">
            <div>
                <div>
                    <p>February 2023 - Current</p>
                </div>
                <div class="app-text-font-1">
                    <p class="text-color-accent">Dougan Software Development</p>
                    <p>I have always been freelancing small contracts to get by, I turned this hobby into my own business. I don't work for myself every day but when I do I have this small joy</p>
                    <p>C# JS Multi-CLoud Python</p>
                </div>

                 <div>
                    <p>February 2020 - Current</p>
                </div>
                <div class="app-text-font-1">
                    <p class="text-color-accent">Leven Systems</p>
                    <p>The #1 Canadian Pharmaceutical Technology Innovators, Helped contribute to a suite of tools aimed at insurers, patients, prescribers, pharmacies and healthcare providers
                    to bring ubiquity, agility and efficiency to the Canadian Health Insurance and Drug Supply Chain Canada wide</p>
                    <p>C# JS Azure React Native</p>
                </div>

                 <div>
                    <p>September 2018 – March 2019</p>
                </div>
                <div class="app-text-font-1">
                    <p class="text-color-accent">Kibii</p>
                    <p>The #1 Canadian Pharmaceutical Technology Innovators, Helped contribute to a suite of tools aimed at insurers, patients, prescribers, pharmacies and healthcare providers
                    to bring ubiquity, agility and efficiency to the Canadian Health Insurance and Drug Supply Chain Canada wide</p>
                    <p>Java Android Play Store Jasper</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
